@tailwind base;
@tailwind components;
@tailwind utilities;










/* Container */
.oc-commonContainer {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}


@media screen and (max-width: 1280px) {
  .oc-commonContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .oc-commonContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .oc-commonContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 340px) {
  .oc-commonContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
